/*initialise des pages*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*paramètre des sections */
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161616;
}

/*création du cercle*/
section .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2a;
    /*transforme la div en cercle 70% de largeur et on la place à droite et -20% au dessus*/
    clip-path: circle(70% at right -20%) ;
}

/*Placement et paramètres du header*/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*paramètres du logo*/
header .logo{
    position: relative;
    max-width: 150px;
}
/*position de la navbar*/
header .navigation{
    position: relative;
    display: flex;
}
/*retire le style de la liste de la navbar*/
header .navigation li{
    list-style: none;
}
/*paramètres du texte de la navbar*/
header .navigation li a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

/*paramètres et postion du contenu*/
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*paramètres et taille du texte dans le contenu*/
.content .textBox{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

/*paramètres du titre du contenu*/
.content .textBox h2{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}

/*paramètres du contenu (texte)*/
.content .textBox p{
    color: #fff;
}

/*paramètres du contenu (Learn more) ajoute le contour et le style du texte*/
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #e51e2a;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

/*paramètres des réseaux sociaux*/
.sci{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*retire la liste de style des réseaux sociaux */
.sci li{
    list-style: none;
}

/*paramètres des liens des réseaux sociaux transforme la postion et le style*/
.sci li a{
    display: flex;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

/*transforme le style une fois que la souris passe au dessus*/
.sci li a:hover{
    background: #e51e2a;
    transform: translateY(-10px); /*monte de 10 px vers le haut*/
}

/*paramètres des images des réseaux sociaux*/
.sci li a img {
    filter: invert(1); /*inverse la couleur*/
    transform: scale(0.5); /*transforme la taille (diminution de moitié)*/
}


/************slider***************/
/*taille et position du swiper*/
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*taille du slider */
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 500px;
    display: flex;
    justify-content: center;
}

/*taille des images dans le slider*/
.content .imgBox {
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
}

/*largeur maximum des images*/
.content .imgBox img {
    max-width: 100%;
}

/*taille max des images dans le slider*/
.swiper-slide img {
    position: absolute;
    max-height: 100%;
    bottom: 0;
}

/*suppresion des ombres du swiper*/
.swiper-3d .swiper-slide-shadow-left ,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;

}